In [ ]:
#Assignment-1-Q7

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
 Q7=pd.read_csv("Q7.csv")

In [3]:
Q7

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [4]:
Q7.mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [5]:
Q7.median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [6]:
Q7.Points.mode()

0    3.07
1    3.92
Name: Points, dtype: float64

In [7]:
Q7.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [8]:
#Assignment-1-Q8

In [9]:
import numpy as np
Q8=np.array([108, 110, 123, 134, 135, 145, 167, 187,199])

In [10]:
Q8.mean()

145.33333333333334

In [11]:
#Assignment-1-Q9

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [13]:
Q9=pd.read_csv("https://s3-ap-southeast-1.amazonaws.com/elearning.excelr.com/DS/Assignments/Basic+Statistics/Level-1/Q9_a.csv")

In [14]:
Q9

    Index  speed  dist
0       1      4     2
1       2      4    10
2       3      7     4
3       4      7    22
4       5      8    16
5       6      9    10
6       7     10    18
7       8     10    26
8       9     10    34
9      10     11    17
10     11     11    28
11     12     12    14
12     13     12    20
13     14     12    24
14     15     12    28
15     16     13    26
16     17     13    34
17     18     13    34
18     19     13    46
19     20     14    26
20     21     14    36
21     22     14    60
22     23     14    80
23     24     15    20
24     25     15    26
25     26     15    54
26     27     16    32
27     28     16    40
28     29     17    32
29     30     17    40
30     31     17    50
31     32     18    42
32     33     18    56
33     34     18    76
34     35     18    84
35     36     19    36
36     37     19    46
37     38     19    68
38     39     20    32
39     40     20    48
40     41     20    52
41     42     20    56
42     43     20    64
43     44     22    66
44     45     23    54
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

In [15]:
Q9.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

In [16]:
Q9.kurt()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64